body,html{
	margin: 0;
	padding-top: 1em;
	scroll-behavior: smooth;
}

#app{
	margin: 0;
	padding: 0;
}

input{
	margin: 0;
	padding: 1em;
}

a{
	outline: none;
}

#card{
	margin: 300px;
	padding: 300px;
	top: -30px;
}

button:focus {
	outline:0;
}

#nav{
	height: 20vh;
}

#btm a{
	float: left;
	display: block;
	text-align: center;
}

