<div>
<nav class="navbar navbar-expand-md  navbar-light bg-info shadow" style="height: 100px;">
</nav>
<div class="card" style="margin: 1em; top: -40px;">	
	<div class="card-body">
	  	    <h5 class="card-title">Add your meal</h5>

	<form id="foodform">
			<div class="form-group">
				<label>Date</label>
				<input type="date" id="date" class="form-control" placeholder="Date" required>
			</div>
			<div class="form-group">
				<label>Time</label>
				<input type="time" id="time" class="form-control" placeholder="Time"required >
			</div>
			<div class="form-group">
				<label>Blood Sugar</label>
				<input type="text" id="blood" class="form-control" placeholder="mg/dL">
			</div>
			<div class="form-group">
				<label>Insulin</label>
				<input type="text" id="insulin" class="form-control" placeholder="Units">
			</div>
			<div class="form-group">
				<label>Carbs</label>
				<input type="text" id="carbs" class="form-control" placeholder="g">
			</div>
			<div class="form-group">
				<label>Meal</label>
				<textarea id="meal" class="form-control" placeholder="Meal Description"></textarea>
			</div>
			<button type="submit" id="btn" class="btn btn-outline-info">Save</button>
			<div id="foodiv" class="form-group">
				
			</div>

		</form>
	</div>
</div>
</div>


